<h1>Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p>
<p> <%=@user.email%></p>

  <% @product.each do |product| %>
    <ul>
      <li><%=product.name%></li>
      <li><%=product.description%></li>
      <li><%=product.formatted_price%></li>
      <li><%=product.stock%></li>
      <%= link_to "Product", products_show_path(id:product.id) %>
    </ul>
  <%end%>
